radius = 3px;
pad = 20px;

code-background = #f5f2f0
code-border = rgb(232, 232, 232)

color-green = #85EA2D
color-blue = #1D3949
color-dark = #303133
color-gray = #DCDFE6
color-white = #FFFFFF
color-hover = alpha(color-blue, .2)

header-height-full = 60px
header-height-mobile = 45px

media-mobile = 1000px

nav-width = 240px;


html, body, #__nuxt, #__layout, #__layout > div
{
  height: 100%
}

.spacer-2 {
  display: inline-block;
  width: 15px;
}
.spacer-3 {
  display: inline-block;
  width: 30px;
}

.el-menu--horizontal {
  a.ecosystem,
  a.ecosystem:visited {
    color: color-dark;
    text-decoration: none
    display: block;
    margin: 0 -10px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .el-menu-item {
    color: color-dark;

    &:hover {
      background: color-hover;
    }
  }
}


.page {
  position: relative;
  height: 100%;
  max-height: 100%;

  .center {
    margin: 0 auto;
    padding: 0 15px;
    width: 1400px;
    max-width: 100%;

    @media only screen and (max-width: media-mobile)  {
      padding: 0;
    }
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid color-gray;
    padding: 0 pad;
    overflow: hidden;
    background: color-white;
    z-index: 3;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);

    .center {
      display: flex;

      .mobile-menu-button {
        display: none;
        font-size: 33px;
        height: 40px;
        width: 40px;
        margin-top: 5px;
        padding: 2px;
        border: none;
        color: color-blue;

        @media only screen and (max-width: media-mobile)  {
          display: block;
        }
      }

      .site-header {
        padding-right: pad;

        h1 {
          background-image: url("/icons/logo-50.png");
          background-position: left center;
          background-repeat: no-repeat;
          background-size: 36px 36px;
          padding-left: 45px;
          font-size: 26px;
          font-weight: normal;
          line-height: header-height-full;

          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;

          @media only screen and (max-width: 1200px)  {
            font-size: 22px;
          }

          @media only screen and (max-width: media-mobile)  {
            font-size: 18px;
            line-height: header-height-mobile;
            margin-top: 2px;
            max-width: calc(100% - 40px);
          }
        }
      }

      > .site-navigation {
        display: flex;

        > .el-menu.el-menu--horizontal {
          border-bottom: none;
        }

        @media only screen and (max-width: media-mobile)  {
          display: none;
        }
      }

      .spacer {
        flex: 1;
      }

      a {
        color: color-dark;
        text-decoration: none;
        display: inline-block;
      }

      .el-autocomplete {
        margin: 10px 10px 0 0;
        flex: 1
      }

      .version-menu,
      .version-menu.is-active {
        margin-top: 10px;
        height: 40px;

        .el-submenu__title,
        .el-submenu__title:hover {
          border: none;
          background: alpha(color-green, .3);
          border-radius: radius;
          line-height: 40px;
          height: 40px;
          color: color-blue;

          i {
            color: color-blue;
          }
        }
      }
    }

  }

  .body {
    margin-top: (header-height-full + 5)px;
    display: flex;

    @media only screen and (max-width: media-mobile)  {
      top: (header-height-mobile + 5)px;
    }

    .aside-left {
      width: nav-width;
      height: 100%;
      //max-height: 100%;
      position: sticky;
      top: (header-height-full + 5)px;
      overflow: auto;
      padding-top: pad;
      max-height: calc(100vh - 60px);
      padding-bottom: 30px;

      @media only screen and (max-width: media-mobile)  {
        position: fixed;
        padding-top: 0;
        padding-bottom: 0;
        z-index: 2;
        top: (header-height-mobile + 5)px;
        right: -82%;
        bottom: 0;
        max-height: calc(100vh - 50px);
        background: color-white;
        border-left: 1px solid color-gray;
        width: 80%;

        transition: all 300ms ease-in-out;

        &.show-navigation {
          right: 0;
        }
      }

      .mobile-content {
        display: none;
        height: 100%;
        max-height: 100%;
        background: alpha(color-gray, .3)

        @media only screen and (max-width: media-mobile)  {
          display: flex;
          flex-direction: column;
          align-content stretch;
        }

        .mobile-menu-group {
          overflow: auto;
          position: relative;

          .mobile-menu-button {
            border: 1px solid color-gray;
            padding: pad;
            font-weight: bold;
            cursor: pointer;
            z-index: 1;
            position: sticky;
            margin: 0;
            top: 0;
            background: color-white;
          }

          .mobile-menu-group-content {
            overflow: hidden;
            display: none;
            flex: 1;
          }

          &.active-menu {
            flex: 1;

            .mobile-menu-group-content {
              display: block;
            }
          }
        }
      }

      .mobile-menu-search {
        .el-input {
          padding: 10px pad 0 pad;
        }

        .el-input__suffix {
          top: 5px;
          right: 25px;
        }

        p {
          text-align: center;
          padding: pad;
        }

        .mobile-search-result {
          padding: pad;
          border-bottom: 1px solid color-gray;

          .mobile-search-result-title {
            font-weight: bold;
          }
        }
      }

      .nav-group {
        margin: pad 0;

        .nav-group-title {
          font-weight: bold;
          font-size: 12px;
          padding: (pad / 2) pad;
          border-bottom: 1px solid color-gray;
        }
      }

      a {
        font-size: 14px;
        line-height: 40px;
        text-decoration: none;
        box-sizing: border-box;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: color-dark;
        padding: 0 pad;
        display: block;

        &.nuxt-link-exact-active, &:hover {
          background: color-hover;
        }

        &:hover, &:visited, &:active {
          text-decoration: none;
          color: color-dark;
        }
      }

      ul {
        list-style: none;
        margin: 0;
        padding: 0
      }

      .site-navigation {
        @media only screen and (max-width: media-mobile)  {
          display: none;
        }
      }

      .nav-title {
        font-weight: bold;
        padding: pad;
      }

      .el-menu {
        border-right: none;

        .el-menu-item {
          height: 40px;
          line-height: 40px
        }
      }
    }

    .aside-right {
      width: nav-width - 40;
      height: 100%;
      position: sticky;
      top: (header-height-full + 5)px;
      overflow: auto;
      padding-top: pad;
      max-height: calc(100vh - 60px);
      margin-left: -10px;
      padding-bottom: 30px;

      @media only screen and (max-width: media-mobile)  {
        display: none;
      }

      h4 {
        margin-left: 10px;
        margin-bottom: 10px;
      }

      .toc {
        font-size: 14px;

        a {
          text-decoration: none;
          color: color-dark;
          display: block;

          &:hover {
            background: color-hover;
          }
        }

        ul {
          padding: 0;
          list-style: none;
        }

        .toc2 a {
          padding: 8px 10px;
        }

        .toc3 a {
          padding: 8px 30px;
        }
      }
    }

    .content {
      padding: pad (pad + 10) 0 (pad + 10);
      line-height: 24px;
      flex: 1;

      .el-alert {
        margin-bottom: 30px;
        border: 1px solid #E6A23C;

        .el-alert__title,
        .el-alert__description {
          font-size: 15px;

          span {
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }

      img {
        max-width: 100%;
      }

      h1 {
        line-height: normal;
      }

      h2 {
        line-height: normal;
        border-bottom: 1px solid color-gray;
        font-size: 28px;
        margin: 35px 0 15px 0;
      }

      h3 {
        line-height: normal;
        font-size: 26px;
        margin: 35px 0 15px 0;
      }

      p {
        margin: 15px 0;
      }

      li {
        padding: 5px 0;
      }

      code {
        background-color: code-background;
        border-radius: radius;
        border: 1px solid code-border;
        padding: 1px 5px;
      }

      .nuxt-content-highlight {
        pre {
          border-radius: radius;
          border: 1px solid code-border;

          code {
            background-color: transparent;
            border: none;
            padding: 0;

            .token {
              &.operator {
                background: transparent;
              }
            }
          }
        }
      }
    }
  }

  .footer {
    border-top: 1px solid color-gray;
    margin: 60px 0 0 0;
    padding: pad;
    display: flex;
    justify-content: space-between;

    > * {
      flex: 1;
    }

    > .edit-this-page {
      flex: 2;
      text-align: right;
    }

    a, a:visited {
      color: lighten(color-blue, 30);
      text-decoration: none;
    }
  }

  .overlay {
    position: fixed;
    z-index: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: -1;
    background-color: rgba(0, 0, 0, .7);
    transition: all 300ms ease-in-out;

    &.show-overlay {
      z-index: 1;
      opacity: 1;
    }

    @media only screen and (min-width: media-mobile + 1)  {
      display: none;
    }
  }
}

.el-autocomplete-suggestion.el-popper.search {
  width: 400px !important;
}
